div {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.stage {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1500px;
  perspective-origin: 10% 20% 70%;
}

.carousel {
  position: relative;
  width: 170px;
  height: 170px;
  transform-style: preserve-3d;
  animation: bingle 13s infinite linear;
  animation-play-state: running;
}

.carousel-title {
  text-align: center;
  transform: translateY(-100px);
  width: 200px;
}

.carousel-title-main {
  font-weight: 600;
}

.carousel:hover {
  animation-play-state: paused;
}

@keyframes bingle {
  to {
    transform: rotateY(360deg);
  }
}
